@model SistemZaRezervacijuKarata.Models.Film

@{
    ViewData["Title"] = "Brisanje filma";
}

<h2>Brisanje filma</h2>

<div>
    <hr />
       
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <h3>Da li ste sigurni da želite da obrišete film <a asp-action="Details" asp-route-id="@Html.ValueFor(model => model.ID)">@Html.DisplayFor(model => model.Naslov)</a>?</h3>
        <br />
        <input type="submit" value="Obriši" class="btn btn-danger" />
        <br />
        <br />
        <a asp-action="Index" class="btn btn-default btn-sm">Odustani</a>
          
    </form>
</div>
