@model SistemZaRezervacijuKarata.Models.Sala

@{
    ViewData["Title"] = "Dodavanje nove sale";
}

<h2>Dodavanje nove sale</h2>

<hr />
<div class="row">
    <div class="container add-film-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojSedista" class="control-label"></label>
                <input asp-for="BrojSedista" class="form-control" />
                <span asp-validation-for="BrojSedista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tehnologija" class="control-label"></label>
                <input asp-for="Tehnologija" class="form-control" />
                <span asp-validation-for="Tehnologija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj salu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default btn-sm">Odustani</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
