
@{
    ViewData["Title"] = "Uspešna rezervacija";
}

<div class="">
    <div class="container register-success-container">

        <h1>Uspešna rezervacija!</h1>
        <p>Uskoro će Vam stići e-mail sa potvrdom.</p>
        <h1>
            <a class="btn btn-default" asp-action="Index" asp-controller="Filmovi">Povratak na početnu stranu</a>
        </h1>
    </div>
</div>