@{
    ViewData["Title"] = "Zabranjen pristup";
}

<header>
    <h2 style="color: white;">@ViewData["Title"]</h2>
    <p style="color: white;">Samo korisnici sa rolom administratora imaju pristup ovoj stranici.</p>
</header>
