@{
    ViewData["Title"] = "Potvrda resetovanja lozinke";
}

<h2>@ViewData["Title"]</h2>
<p>
    Lozinka je uspešno resetovana. Molimo Vas <a asp-action="Login">kliknite ovde da se prijavite</a>.
</p>
