@model SistemZaRezervacijuKarata.Models.Projekcija

@{
    ViewData["Title"] = "Dodavanje nove projekcije";
}

<h2>Dodavanje nove projekcije</h2>

<hr />
<div class="row">
    <div class="container add-film-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Film" class="control-label"></label>
                <select asp-for="FilmId" class ="form-control" asp-items="ViewBag.FilmId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Sala" class="control-label"></label>
                <select asp-for="SalaId" class ="form-control" asp-items="ViewBag.SalaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vreme" class="control-label"></label>
                <input asp-for="Vreme" class="form-control" />
                <span asp-validation-for="Vreme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj projekciju" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default btn-sm">Odustani</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
