@model SistemZaRezervacijuKarata.Models.Projekcija

@{
    ViewData["Title"] = "Brisanje projekcije";
}

<h2>Brisanje projekcije</h2>

<div>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <h3>Da li ste sigurni da želite da obrišete projekciju: <a asp-action="Details" asp-route-id="@Html.ValueFor(model => model.ID)">@Html.DisplayFor(model => model.Film.Naslov) - @Html.DisplayFor(model => model.Datum), @Html.DisplayFor(model => model.Vreme)</a>?</h3>
        <br />
        <input type="submit" value="Obriši" class="btn btn-danger" />
        <br />
        <br />
        <a asp-action="Index" class="btn btn-default btn-sm">Odustani</a>

    </form>
</div>

